# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
!docs/*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
.build-deps/

# Swift Package Manager
.swiftpm/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Env / secrets
.env
.env.*
secrets.json
